@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

.header {
  text-align: center;
  justify-content: center;
}

.header h1 {
  font-size: 40px;
}

.des_paragraph {
  font-size: 30px;
  margin: 0 150px;
}

.header_images {
  display: flex;
  justify-content: space-evenly;
  margin: 25px 0;
}

.header_img_1 {
  background-color: #f2f5fa;
  width: 300px;
  padding: 15px;
  cursor: pointer;
  transition: .4s;
}

.header_img_1:hover {
  transform: scale(1.1);
}

.feature_work {
  text-align: center;
  font-size: 40px;
}

.first_website {
  display: flex;
  justify-content: space-evenly;
}

.porject iframe {
  width: 900px;
  height: 600px;
}

.git__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.git__link h2 {
  font-size: 30px;
}

.git__link button a {
  text-decoration: none;
  color: black;
}

.git__link button {
  padding: 10px;
  border-radius: 5px;
  color: black;
  background-color: #f2f5fa;
}

.git__link button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and (max-width:1000px) {
  .des_paragraph {
    margin: 0 100px;
  }
}  

@media screen and (max-width:750px) {
  .header h1 {
    font-size: 30px;
  }
  
  .des_paragraph {
    font-size: 20px;
    margin: 0 30px;
  }

  .header_img_1 {
    width: 200px;
  }

  img {
    width: 100px;
  }

  .img_heading {
    font-size: 20px;
  }

  .img_paragraph {
    font-size: 15px;
  }
}

@media screen and (max-width:500px) {
  .header h1 {
    font-size: 20px;
  }
  
  .des_paragraph {
    font-size: 17px;
  }

  .header_img_1 {
    width: 150px;
  }

  img {
    width: 70px;
  }

  .img_heading {
    font-size: 16px;
  }

  .img_paragraph {
    font-size: 14px;
  }
}

@media screen and (max-width:400px) {
  .header h1 {
    font-size: 17px;
  }
  
  .des_paragraph {
    font-size: 13px;
  }

  .header_img_1 {
    width: 110px;
  }

  img {
    width: 50px;
  }

  .img_heading {
    font-size: 14px;
  }

  .img_paragraph {
    font-size: 13px;
  }
}

